.infoCardContainer--info-card__section-4 {
  justify-content: center;
}

.infoCardTextContainer--info-card__section-4 {
  height: 100%;
  width: 75%;
  margin: 0;
  align-items: center;
}

.infoCardHeadline--info-card__section-4 {
  text-align: center;
  font-size: 24px;
}

.infoCardSubhead--info-card__section-4 {
  text-align: center;
  font-size: 14px;
}