.paragraph--product__detail--code {
  font-size: 14px;
  color: #9E9E9E;
}

.strong--product__specifications--text {
  font-size: 12px;
  color: #5D5D5D;
}

.paragraph--product__detail--tab-text {
  font-size: 18px;
  color: #5D5D5D;
}