.openIconContainer--mini-cart-desktop {
  padding: 0;
}

.minicartIconContainer--mini-cart-desktop {
  background-color: #00c0ff;
  border-radius: 10px;
  padding: 12px;
}

.cartIcon--mini-cart-desktop {
  width: 25px;
  height: 25px;
  color: #FFFFFF
}