.container {
  border-right: 1px solid #dadada;
  height      : 100%;
  margin-right: 2%;
}

.label {
  color    : #ff4338;
  font-size: 10px;
}

.label:hover {
  color     : black;
  transition: 0.5s;
}