.flexRowContent--home__section-3--tablet {
    background-color: #FFFFFF;
    margin-top      : 5%;
    padding-top     : 4%;
    padding-bottom  : 8%;
}

.flexColChild--col-cards-left {
    margin-right: 3%;
}

.flexColChild--col-cards-right {
    margin-left: 3%;
}

.flexColChild--col-cards-2 :global(.vtex-store-components-3-x-infoCardContainer--info-card__section-4) {
    height: 100%;
}