.container--footer__mobile--middle-top-item {
  justify-content: center;
  text-align     : center;
}

.paragraph--footer__mobile--middle-top-item {
  font-size: 14px;
}

.strong--footer__mobile--middle-top-item {
  font-size: 16px;
}

.container--footer__mobile--middle-disclosure-title {
  justify-content: center;
  color          : #FFFFFF;
  font-weight    : bold;
  padding        : 1% 0 1% 0;
}