.paragraph--footer__desktop--middle-text {
  color: #706F6F;
  text-decoration: none;
  font-size: 13px;
}

.strong--footer__desktop--middle-text {
  font-size: 15px;
}

.strong--footer__desktop--middle-bottom-title {
  color: #5d5d5d;
  font-size: 15px;
}