.flexRow--desktop__searchresult--row {
  border-top: 2px solid #dadada;
}

.flexRowContent--desktop__searchresult--row-1 {
  padding-left: 4%;
}

.flexRowContent--desktop__searchresult--row-1 :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--desktop__searchresult--row-2 :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}

.flexRowContent--desktop__searchresult--row-2 {
  justify-content : space-between;
  background-color: #FFFFFF;
  padding         : 0 2%;
}

.flexCol--desktop__searchresult--col {
  padding-left: 3%;
}

.flexRow--searchresult__product--share-label,
.flexRow--searchresult__list--product-share-label {
  position     : absolute;
  background   : #016DFF;
  border-radius: 0px 0px 15px 15px;
  z-index      : 1;
  display      : flex;
  align-items  : center;
}

@media (max-width: 1000px) {
  .flexRow--searchresult__product--share-label,
  .flexRow--searchresult__product--saving-label {
    width: 20% !important;
    height: 7% !important;
    top: -1.5% !important;
  }
}

@media (max-width: 500px) {
  .flexRow--searchresult__product--share-label,
  .flexRow--searchresult__product--saving-label {
    width: 37% !important;
    height: 9% !important;
  }
  .flexRowContent--searchresult__product--share-label {
    display: flex;
  }
}

.flexRow--searchresult__product--share-label {
  width        : 40%;
  height       : 10%;
  right        : 5%;
  top          : -2%;
}

.flexRow--searchresult__product--saving-label {
  width        : 40%;
  height       : 10%;
  top          : -2%;
}

.flexRow--searchresult__list--product-share-label {
  height: 19%;
  width: 13%;
  left: 17%;
  top: -4%;
}

.flexRow--searchresult__list--product-saving-label {
  height: 19%;
  width: 13%;
  top: -4%;
  left: 2%;
}

.flexRow--searchresult__product--share-label::before,
.flexRow--searchresult__list--product-share-label::before {
  content      : "";
  width        : 0;
  height       : 0;
  border-bottom: 0.7rem solid #016DFF;
  border-left  : 0.7rem solid transparent;
  border-right : 1rem solid #016DFF;
  position     : absolute;
  left         : -10%;
  top          : 0;
  z-index      : -1;
}

.flexRow--searchresult__product--saving-label,
.flexRow--searchresult__list--product-saving-label {
  position     : absolute;
  background   : #FC4137;
  border-radius: 0px 0px 15px 15px;
  z-index      : 1;
  display      : flex;
  align-items  : center;
}

.flexRow--searchresult__product--saving-label::before,
.flexRow--searchresult__list--product-saving-label::before {
  content      : "";
  width        : 0;
  height       : 0;
  border-bottom: 0.7rem solid #FC4137;
  border-left  : 0.7rem solid transparent;
  border-right : 1rem solid #FC4137;
  position     : absolute;
  left         : -10%;
  top          : 0;
  z-index      : -1;
}

.flexRow--desktop__searchresult--product-prices {
  min-height : 18%;
  display    : flex;
  align-items: flex-end;
}

.flexRow--searchresult__summary--list-container,
.flexRowContent--searchresult__summary--list-container {
  height: 100%;
}

.flexColChild--searchresult__summary--list-col-1 {
  align-items: center;
  justify-content: center;
  display: flex;
}

.flexCol--searchresult__summary--list-col-2 {
  position: relative;
  justify-content: center;
  padding-left: 13%;
}

.flexColChild--searchresult__summary--list-col-2 {
  height: fit-content !important;
}

.flexColChild--searchresult__summary--list-col-3 :global(.vtex-button) {
  border-radius: 50px;
  font-weight: 800;
  font-size: 17px;
  margin-top: 5%;
}

.flexRowContent--desktop__searchresult--row-2 {
  margin-top: 2%;
}

.flexRow--mobile__searchresult--row-3 {
  margin: 3% 0px;
}

.flexRowContent--mobile__searchresult--row-3 {
  padding-left: 2%;
}