.sellingPrice--searchresult__product--selling-price,
.sellingPrice--searchresult__list--product-selling-price {
  color          : #5D5D5D;
  border-bottom  : 2px #d4d4d4 solid;
  padding        : 2% 0 4% 2%;
  display        : flex;
  justify-content: space-between;
}

.sellingPrice--searchresult__list--product-selling-price {
  margin-bottom: 2%;
}

.sellingPrice--searchresult__product--selling-price,
.savings--searchresult__product--discount-price,
.listPrice--searchresult__product--list-price {
  font-size: 12px;
}

.sellingPrice--searchresult__list--product-selling-price,
.savings--searchresult__list--product-discount-price,
.listPrice--searchresult__list--product-list-price {
  font-size: 14px;
}

.sellingPriceValue--searchresult__product--selling-price,
.sellingPriceValue--searchresult__list--product-selling-price {
  color       : #1D1D1D;
  font-weight : 700;
  margin-right: 15%;
}

.sellingPriceValue--searchresult__product--selling-price {
  font-size: 14.4px;
}

.sellingPriceValue--searchresult__list--product-selling-price {
  font-size: 16.8px;
}

.installments--searchresult__product--installments,
.installments--searchresult__list--product-installments {
  font-size   : 18px;
  color       : #ff4338;
  font-weight : 600;
  text-align  : left;
  margin-top  : 4%;
  padding-left: 2%;
  text-align  : center;
}

.installmentsNumber--searchresult__product--installments,
.installmentsNumber--searchresult__list--product-installments {
  font-size  : 30px;
  font-weight: 400;
}

.installmentValue--searchresult__product--installments,
.installmentValue--searchresult__list--product-installments {
  font-size  : 30px;
  font-weight: 700;
}

.installmentValue--searchresult__product--installments {
  margin-right: 30%;
}

.installmentValue--searchresult__list--product-installments {
  margin-right: 40%;
}

.savings--searchresult__product--discount-price,
.savings--searchresult__list--product-discount-price {
  color           : #FFFFFF;
  padding         : 2%;
  font-weight     : 600;
  display         : flex;
  justify-content : space-between;
  background-color: #FF4338;
  border-radius   : 3px;
}

.currencyContainer--searchresult__product--list-price,
.currencyContainer--searchresult__list--product-list-price {
  color      : #1D1D1D;
  font-weight: 700;
}

.savingsValue--searchresult__product--discount-price,
.listPriceValue--searchresult__product--list-price,
.savingsValue--searchresult__list--product-discount-price,
.listPriceValue--searchresult__list--product-list-price {
  margin-right: 15%;
}

.listPrice--searchresult__product--list-price,
.listPrice--searchresult__list--product-list-price {
  color          : #5D5D5D;
  padding-bottom : 2%;
  padding-left   : 2%;
  display        : flex;
  justify-content: space-between;
}

.savings--searchresult__product--share-saving-text,
.savings--searchresult__list--product-share-saving-text {
  color         : #FFFFFF;
  font-weight   : 800;
  font-size     : 11px;
  text-transform: uppercase;
}

.currencyContainer--searchresult__product--share-saving-text,
.currencyContainer--searchresult__list--product-share-saving-text {
  font-size: 18px;
}

.installments--searchresult__product--share-label-number,
.installments--searchresult__list--product-share-label-number {
  font-weight: 800;
  font-size  : 32px;
  color      : #FFFFFF
}


@media (max-width: 1000px) {
  .installmentValue--searchresult__product--installments {
    margin-right: 5% !important;
  }

  .listPrice--searchresult__product--list-price,
  .savings--searchresult__product--discount-price,
  .sellingPrice--searchresult__product--selling-price {
    font-size: 16px !important;
  }

  .sellingPriceValue--searchresult__product--selling-price {
    font-size: 19px !important;
  }
}