.drawer--drawer__mobile {
  background-color: #FFFFFF;
  height          : 88%;
  max-width       : 100% !important;
}

.closeIconContainer--drawer__mobile {
  justify-content: flex-end;
}

.childrenContainer--drawer__mobile {
  flex-direction: column;
}

.drawer--drawer__mobile-2 {
  height   : 50%;
  max-width: 100% !important;
  top      : 20%;
}